body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

.jumbotronContentHeading {
  display: flex;
  align-items: center;
  background-image: url('https://i.imgur.com/EvqUtC3.png');
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  box-shadow: 0px 8px 16px -6px black inset, 0px -8px 16px -6px black inset;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotronContentHeading h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 20px;
  color: #fff;
}

.jumbotronContentHeading h3 {
  margin: 0 0 5px;
  color: #fff;
}

.jumbotronInfo {
  display: flex;
  align-items: center;
  background-size: cover;
  color: #ffffff;
  height: 200px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  box-shadow: 0px 8px 16px -6px black;
}

.jumbotronInfo h3 {
  margin: 0 0 0;
  text-align: center;
  font-size: 15px;
  font-weight: 100;
  color: #333;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #ffffff;
  text-shadow: none;
  background-color: #333333;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #222222;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}

.dog1 {
  display: flex;
  align-items: center;
  background-image: url('file:///Users/maanasa/Desktop/WebsiteBase/Backgrounds/dog1.jpg');
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  box-shadow: 0px 8px 16px -6px black inset, 0px -8px 16px -6px black inset;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dog2 {
  display: flex;
  align-items: center;
  background-image: url('file:///Users/maanasa/Desktop/WebsiteBase/Backgrounds/dog2.jpg');
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  box-shadow: 0px 8px 16px -6px black inset, 0px -8px 16px -6px black inset;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dog3 {
  display: flex;
  align-items: center;
  background-image: url('file:///Users/maanasa/Desktop/WebsiteBase/Backgrounds/dog3.jpg');
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  box-shadow: 0px 8px 16px -6px black inset, 0px -8px 16px -6px black inset;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dog4 {
  display: flex;
  align-items: center;
  background-image: url('file:///Users/maanasa/Desktop/WebsiteBase/Backgrounds/dog4.jpg');
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  box-shadow: 0px 8px 16px -6px black inset, 0px -8px 16px -6px black inset;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dog5 {
  display: flex;
  align-items: center;
  background-image: url('file:///Users/maanasa/Desktop/WebsiteBase/Backgrounds/dog5.jpg');
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  box-shadow: 0px 8px 16px -6px black inset, 0px -8px 16px -6px black inset;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dog6 {
  display: flex;
  align-items: center;
  background-image: url('file:///Users/maanasa/Desktop/WebsiteBase/Backgrounds/dog6.jpg');
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  box-shadow: 0px 8px 16px -6px black inset, 0px -8px 16px -6px black inset;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dog7 {
  display: flex;
  align-items: center;
  background-image: url('file:///Users/maanasa/Desktop/WebsiteBase/Backgrounds/dog7.jpg');
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  box-shadow: 0px 8px 16px -6px black inset, 0px -8px 16px -6px black inset;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dog8 {
  display: flex;
  align-items: center;
  background-image: url('file:///Users/maanasa/Desktop/WebsiteBase/Backgrounds/dog8.jpg');
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  box-shadow: 0px 8px 16px -6px black inset, 0px -8px 16px -6px black inset;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dog9 {
  display: flex;
  align-items: center;
  background-image: url('file:///Users/maanasa/Desktop/WebsiteBase/Backgrounds/dog9.jpg');
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  box-shadow: 0px 8px 16px -6px black inset, 0px -8px 16px -6px black inset;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
